@inherits LayoutComponentBase
<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12">
           @Body
       </div>
    </div>
</div>

<style>
    body {
        background-image :url('images/background/bg.jpg');
        background-size:cover;
    }
</style>


